# Set-Up Code

In [ ]:
OPENAI_API_KEY="*********"
OPENAI_PROJECT="*********"
OPENAI_ORG="*********"

In [2]:
# from utils.envs import OPENAI_API_KEY
import os
import base64
from typing import List, Dict
from openai import OpenAI
import openai
import glob
import pprint
import tqdm
import numpy as np
import json
import tiktoken
import pandas as pd
import re
import ast
import time
from datetime import datetime

### Initialize OpenAI Client

In [3]:
client = OpenAI(api_key=OPENAI_API_KEY, project=OPENAI_PROJECT, organization=OPENAI_ORG)

### Test that I can use Assistants & Responses API

In [4]:
# test that i can prompt a model

response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "Hello! How can I use OpenAI's API to classify job descriptions?"}
    ]
)   

print(response.choices[0].message.content)

To use OpenAI's API to classify job descriptions, you can follow these general steps:

1. Sign up for access to OpenAI's API: Visit the OpenAI website and create an account to access their API services.

2. Retrieve API key: After signing up and being granted access, you will receive an API key that you can use to authenticate your requests.

3. Choose a suitable model: OpenAI provides various models that can be used for different natural language processing tasks. You need to select a model that is best suited for classifying job descriptions.

4. Build and send requests: Use the chosen model to build a request that includes the job description you want to classify. Send the request to OpenAI's API endpoint. Make sure to include your API key for authentication.

5. Receive and interpret the result: Once you send the request, you will receive a response containing the classification of the job description. Interpret the result to understand how the job description was classified.

6. Integrate the classification into your workflow: Depending on your use case, you can integrate the job description classification result into your application or tool to help automate the process of categorizing job descriptions.

Please refer to the OpenAI documentation for specific details on using their API for text classification tasks and make sure to comply with their terms and conditions while using their services.

In [5]:
response = client.responses.create(
    model="gpt-5",
    input = "Hello! How can I use OpenAI's API to classify job descriptions?",
    instructions = "You are a helpful assistant."
)

print(response.output[1].content[0].text)

Great use case. You’ve got a few good options depending on your goals (speed/cost vs. accuracy/consistency). Here’s a practical playbook with code.

1) Start with prompting + JSON schema (fastest to ship)
- When you have a known taxonomy (e.g., department, level, work mode, skills), ask the model to return only JSON that matches your schema. Set temperature=0 for consistency.

JavaScript (Node) using the Responses API:
- Use gpt-4.1-mini (cheap, strong for classification).
- response_format=json_schema with strict: true guarantees proper JSON.

const OpenAI = require("openai");
const client = new OpenAI();

const schema = {
  name: "JobClassification",
  schema: {
    type: "object",
    additionalProperties: false,
    properties: {
      department: {
        type: "string",
        enum: [
          "Software Engineering","Data Science","Data Engineering","Product Management",
          "Design","Marketing","Sales","Customer Support","Operations","Finance",
          "HR","IT","Security","Legal","Other"
        ]
      },
      seniority: {
        type: "string",
        enum: ["Intern","Junior","Mid","Senior","Staff","Principal","Manager","Director","VP","C-level","Unknown"]
      },
      employment_type: {
        type: "string",
        enum: ["Full-time","Part-time","Contract","Temporary","Internship","Unknown"]
      },
      work_mode: {
        type: "string",
        enum: ["Onsite","Remote","Hybrid","Unknown"]
      },
      locations: { type: "array", items: { type: "string" } },
      must_have_skills: { type: "array", items: { type: "string" } },
      nice_to_have_skills: { type: "array", items: { type: "string" } },
      years_experience_min: { type: "integer", minimum: 0, nullable: true },
      years_experience_max: { type: "integer", minimum: 0, nullable: true },
      salary_currency: { type: "string", nullable: true },
      salary_min: { type: "number", nullable: true },
      salary_max: { type: "number", nullable: true }
    },
    required: ["department","seniority","employment_type","work_mode","locations","must_have_skills"]
  }
};

const systemPrompt = `
You are an HR taxonomy classifier. Extract fields from a job description.
Rules:
- Only use evidence from the text. Do not guess.
- If unknown or not stated, use null or [] or "Unknown" as appropriate.
- Skills: list specific technologies or competencies (e.g., Python, React, SOC2, B2B SaaS).
- Seniority: infer from cues like "Senior", "Lead", "Manager", "Director", etc.
- Work mode: infer Onsite/Remote/Hybrid only if explicit; otherwise "Unknown".
- Return only valid JSON that matches the schema.
`;

async function classifyJob(jdText) {
  const resp = await client.responses.create({
    model: "gpt-4.1-mini",
    temperature: 0,
    input: [
      { role: "system", content: [{ type: "text", text: systemPrompt }] },
      { role: "user", content: [{ type: "input_text", text: jdText }] }
    ],
    response_format: {
      type: "json_schema",
      json_schema: { name: "JobClassification", schema, strict: true }
    }
  });

  const json = JSON.parse(resp.output_text);
  return json;
}

// Example
// const result = await classifyJob("Acme seeks a Senior Data Engineer...");
// console.log(result);

Python (same idea):

from openai import OpenAI
import json

client = OpenAI()

schema = {
  "name": "JobClassification",
  "schema": {
    "type": "object",
    "additionalProperties": False,
    "properties": {
      "department": {"type": "string", "enum": [
        "Software Engineering","Data Science","Data Engineering","Product Management",
        "Design","Marketing","Sales","Customer Support","Operations","Finance",
        "HR","IT","Security","Legal","Other"
      ]},
      "seniority": {"type": "string", "enum": ["Intern","Junior","Mid","Senior","Staff","Principal","Manager","Director","VP","C-level","Unknown"]},
      "employment_type": {"type": "string", "enum": ["Full-time","Part-time","Contract","Temporary","Internship","Unknown"]},
      "work_mode": {"type": "string", "enum": ["Onsite","Remote","Hybrid","Unknown"]},
      "locations": {"type": "array", "items": {"type": "string"}},
      "must_have_skills": {"type": "array", "items": {"type": "string"}},
      "nice_to_have_skills": {"type": "array", "items": {"type": "string"}},
      "years_experience_min": {"type": "integer", "minimum": 0, "nullable": True},
      "years_experience_max": {"type": "integer", "minimum": 0, "nullable": True},
      "salary_currency": {"type": "string", "nullable": True},
      "salary_min": {"type": "number", "nullable": True},
      "salary_max": {"type": "number", "nullable": True}
    },
    "required": ["department","seniority","employment_type","work_mode","locations","must_have_skills"]
  },
  "strict": True
}

system_prompt = """
You are an HR taxonomy classifier. Extract fields from a job description.
Rules:
- Only use evidence from the text. Do not guess.
- If unknown or not stated, use null or [] or "Unknown" as appropriate.
- Skills: list specific technologies or competencies.
- Work mode only if explicit; otherwise "Unknown".
- Return only valid JSON that matches the schema.
"""

def classify_job(jd_text: str):
  resp = client.responses.create(
    model="gpt-4.1-mini",
    temperature=0,
    input=[
      {"role": "system", "content": [{"type": "text", "text": system_prompt}]},
      {"role": "user", "content": [{"type": "input_text", "text": jd_text}]}
    ],
    response_format={"type": "json_schema", "json_schema": schema}
  )
  return json.loads(resp.output_text)

2) If you need large-scale throughput, use the Batch API
- Put each request as a JSONL line that calls /v1/responses with your same body.
- Upload the file, create a batch job, poll until it finishes, then download results.
- This gives massive parallelism and much lower per-request overhead.

One JSONL line example (each line is one classification):
{"custom_id":"jd_001","method":"POST","url":"/v1/responses","body":{"model":"gpt-4.1-mini","temperature":0,"input":[{"role":"system","content":[{"type":"text","text":"...systemPrompt..."}]},{"role":"user","content":[{"type":"input_text","text":"...job description text..."}]}],"response_format":{"type":"json_schema","json_schema":{"name":"JobClassification","schema":{...},"strict":true}}}}

3) For mapping to your own taxonomy or external standards (ESCO/O*NET)
- Add short, clear definitions for each label in the system prompt and use enums so the model must pick from your set.
- If labels are numerous (hundreds+) or similar, use embeddings to ground the choice.

Quick embeddings-based classifier (nearest-label):
- Compute embeddings for canonical labels + their descriptions once.
- Embed each job description and pick the closest label by cosine similarity.

Python example:

from openai import OpenAI
import numpy as np

client = OpenAI()

labels = [
  ("Software Engineering","Builds and maintains software applications and systems"),
  ("Data Engineering","Builds data pipelines, warehouses, ETL, ingestion"),
  ("Data Science","Statistical modeling, ML, experimentation"),
  # ...
]

# Precompute label embeddings
label_texts = [f"{name}: {desc}" for name, desc in labels]
label_vecs = client.embeddings.create(model="text-embedding-3-large", input=label_texts).data
label_vecs = [np.array(e.embedding, dtype=np.float32) for e in label_vecs]

def embed(text):
  vec = client.embeddings.create(model="text-embedding-3-large", input=text).data[0].embedding
  return np.array(vec, dtype=np.float32)

def cosine(a,b): return np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b)+1e-8)

def classify_department_with_embeddings(jd_text):
  v = embed(jd_text)
  scores = [cosine(v, lv) for lv in label_vecs]
  i = int(np.argmax(scores))
  return labels[i][0], float(scores[i])

- You can combine this with an LLM: first pick top-3 labels via embeddings, then ask the model to choose one of them with rationale, and output JSON.

4) Improve reliability
- Use temperature=0.
- Constrain outputs via response_format with strict JSON schema.
- Add 2–3 few-shot examples (short JDs with gold outputs) in the system/user messages.
- Reject unsupported inferences: instruct “Unknown” where not stated.
- Normalize skills (e.g., case-insensitive, deduplicate).
- Validate every output against your schema; log and retry if invalid.

5) When to fine-tune
- If you have thousands of labeled JDs and need very stable label choices or lower latency/cost at scale, fine-tune a small model (e.g., gpt-4o-mini) on your prompt→JSON pairs.
- Keep the same JSON schema during fine-tuning and serving.

6) Practical tips
- Pre-clean JDs: remove boilerplate equal opportunity text so the model focuses on the role content.
- Token limits: gpt-4.1-mini has ample context, but for very long postings, keep the relevant parts (responsibilities, requirements, location, compensation).
- Multi-label vs single-label: if a JD spans multiple departments (rare), allow arrays in your schema.
- Evaluation: create a small gold set and track accuracy/F1 per field; iterate on prompt and label definitions.

If you share your taxonomy and a sample JD, I can tailor the schema and prompt and provide a ready-to-run script.

In [6]:
client.vector_stores.list()

SyncCursorPage[VectorStore](data=[VectorStore(id='vs_69025034e2fc81918fdcad91301db0cf', created_at=1761759285, file_counts=FileCounts(cancelled=0, completed=1, failed=0, in_progress=0, total=1), last_active_at=1761759310, metadata={}, name='column_mapper_v1', object='vector_store', status='completed', usage_bytes=9184, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68fdb1fa7e688191a6a4f690441695ea', created_at=1761456634, file_counts=FileCounts(cancelled=0, completed=5, failed=0, in_progress=0, total=5), last_active_at=1761456685, metadata={}, name='job_classifier_GPT_isha', object='vector_store', status='completed', usage_bytes=5282022, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68fba18f05408191853bfea00e219bc4', created_at=1761321359, file_counts=FileCounts(cancelled=0, completed=5, failed=0, in_progress=0, total=5), last_active_at=1761321615, metadata={}, name='job_classifier_gpt_no_aliases', object='vector_store', status='completed', usage_bytes=4355190, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68fb9a22e8cc8191947ee19dd49d417c', created_at=1761319459, file_counts=FileCounts(cancelled=0, completed=5, failed=0, in_progress=0, total=5), last_active_at=1761319864, metadata={}, name='job_classifier_gpt', object='vector_store', status='completed', usage_bytes=5282032, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68f62c38e3348191a93f191cb8b5fc39', created_at=1760963641, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1760963642, metadata={}, name='360-standard Knowledge Base - 2025-10-20T12:34:00.839Z', object='vector_store', status='completed', usage_bytes=1394591, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68f296e26d188191a01d0a4f1019489e', created_at=1760728802, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1760729083, metadata={}, name='kf360_kb_faqs_gpt-4.1_20251017', object='vector_store', status='completed', usage_bytes=1394591, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68e7ad1a0b1c81919cbb4a3763bb5d39', created_at=1760013594, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1760013595, metadata={}, name='360-standard Knowledge Base - 2025-10-09T12:39:53.660Z', object='vector_store', status='completed', usage_bytes=1364978, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68deaf9a2b08819181c2e5d1aca8d6bb', created_at=1759424410, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1759426452, metadata={}, name='kf_360_kb_faqs_gpt-4.1_20251002', object='vector_store', status='completed', usage_bytes=1364978, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68dbf2119b4c8191a6a6c4c7fab3fe6d', created_at=1759244817, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1759244821, metadata={}, name='360-standard Knowledge Base - 2025-09-30T15:06:57.184Z', object='vector_store', status='completed', usage_bytes=1327827, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68dbe052373081919195957a533617b1', created_at=1759240274, file_counts=FileCounts(cancelled=0, completed=2, failed=0, in_progress=0, total=2), last_active_at=1759240278, metadata={}, name='360-standard Knowledge Base - 2025-09-30T13:51:13.750Z', object='vector_store', status='completed', usage_bytes=570762, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68dab96f93c08191887543dfdcd16619', created_at=1759164783, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1759164872, metadata={}, name='kf_360_kb_faqs_gpt-4.1_20250929', object='vector_store', status='completed', usage_bytes=1363852, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68dab95ec2388191a3faf50b075fdec4', created_at=1759164766, file_counts=FileCounts(cancelled=0, completed=0, failed=0, in_progress=0, total=0), last_active_at=1759164766, metadata={}, name=None, object='vector_store', status='completed', usage_bytes=0, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68d1f7085f4481919e919a1701e96d51', created_at=1758590728, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1758590895, metadata={}, name='kf_360_kb_missteps_moved_faqs_20250922', object='vector_store', status='completed', usage_bytes=1330467, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68c83090a29881919d3ec9cb3c313afa', created_at=1757950096, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1757950470, metadata={}, name='kf_360_kb_faqs_20250915', object='vector_store', status='completed', usage_bytes=1330467, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68af3dceee30819189389095a6846735', created_at=1756315087, file_counts=FileCounts(cancelled=0, completed=1, failed=0, in_progress=0, total=1), last_active_at=1756315130, metadata={}, name='kf_360_knowledge_base_only_20250827', object='vector_store', status='completed', usage_bytes=332695, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_68af3c4126f48191a3c5642071fbd459', created_at=1756314689, file_counts=FileCounts(cancelled=0, completed=0, failed=0, in_progress=0, total=0), last_active_at=1756314689, metadata={}, name=None, object='vector_store', status='completed', usage_bytes=0, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_6876768fc4a8819198ca5353f2a0a5c1', created_at=1752594063, file_counts=FileCounts(cancelled=0, completed=1, failed=0, in_progress=0, total=1), last_active_at=1752594063, metadata={}, name=None, object='vector_store', status='completed', usage_bytes=14242, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_686e83035c7c81919eba0cf8e4cbf433', created_at=1752072963, file_counts=FileCounts(cancelled=0, completed=1, failed=0, in_progress=0, total=1), last_active_at=1752072963, metadata={}, name=None, object='vector_store', status='completed', usage_bytes=14242, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_6865563b9b308191a85ecb98ce921df1', created_at=1751471675, file_counts=FileCounts(cancelled=0, completed=1, failed=0, in_progress=0, total=1), last_active_at=1751471675, metadata={}, name=None, object='vector_store', status='completed', usage_bytes=14242, expires_after=None, expires_at=None, description=None), VectorStore(id='vs_6851ac3927108191b60ada2f94fecc5c', created_at=1750182969, file_counts=FileCounts(cancelled=0, completed=3, failed=0, in_progress=0, total=3), last_active_at=1750182972, metadata={}, name='KF360 Knowledge Base with FYI & FAQs - 2025-06-17T17:56:08.848Z', object='vector_store', status='completed', usage_bytes=1327827, expires_after=None, expires_at=None, description=None)], has_more=True, object='list', first_id='vs_69025034e2fc81918fdcad91301db0cf', last_id='vs_6851ac3927108191b60ada2f94fecc5c')

# Read in Competitor Data
**1: Argenx\
2: KFH\
3: Mars\
4: WTW**

In [9]:
df_competitor_1 = pd.read_excel('./../Files/Competitor/Argenx_competitor.xlsx', sheet_name = 'WD report', header=None)
print(df_competitor_1.shape)
df_competitor_1.head(10)

(1687, 15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,argenx Worker Overview - Total Compensation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Active Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Effective as of Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(only car allowances),NaN,NaN,NaN,NaN
4,ID,Gender,Business Title,Country,argenx job level,Currency,Actual Annual Salary,Currency,Variable Pay - Plan,Target Variable Pay - Percent,Allowance - Car,Allowance - Phone,Allowance - Representation,Equity Amount - Annual,Cost Center - Name
5,100640,Male,"Head of Strategic Business Leaders, West",United States of America,Grade 44,USD,300489.75,USD,Field Incentive Plan,NaN,0,150,0,240000,Sales Force
6,101381,Male,"Head of Strategic Business Leaders, East",United States of America,Grade 44,USD,305767,USD,Field Incentive Plan,NaN,0,150,0,240000,Sales Force
7,103007,Male,"Head of Strategic Business Leaders, Central",United States of America,Grade 44,USD,334400,USD,Field Incentive Plan,NaN,1000,150,0,205000,Sales Force
8,100604,Female,"Strategic Business Leader, Atlanta Metro",United States of America,Grade 33,USD,275482.9,USD,Field Incentive Plan,NaN,0,150,0,105000,Sales Force
9,100605,Male,"Strategic Business Leader, South Texas",United States of America,Grade 33,USD,275482.9,USD,Field Incentive Plan,NaN,0,150,0,105000,Sales Force

# COMPETITOR FILE HEADERS EXTRACTION

## Use GPT-5-reasoning to extract a list of competitor header names

In [12]:
system_prompt_column_extraction = f"""You are a schema header extractor.

You will receive the TOP 10 ROWS of a rectangular table as a 2D array of strings, representing the first 10 rows of an Excel/CSV sheet read with header=None. True column headers might NOT be on row 1. Some headers may span MULTIPLE ROWS (hierarchical); merged Excel cells appear as blanks below the parent label. Some cells in the top 10 rows can already be DATA (not headers).

Your task:
- For each column (left→right), reconstruct its header and return a list of names with the SAME LENGTH as the number of columns.
- Reconstruct by:
  1) Forward-filling non-empty strings downward in that column (simulate merged cells).
  2) Identify header-ish lines vs data-ish lines: header-ish lines contain mostly words/symbols, data-ish lines are mostly numbers/dates/IDs. Stop including tokens once you hit data-ish content.
  3) Build the name by joining the remaining non-empty header tokens with a dot "." in top→down order (e.g., Country.India).
  4) Drop purely decorative tokens (e.g., "Table", "Report", company names, page titles).
  5) If a row looks like UNITS (%, USD, hrs, kg...), exclude it from the name.
  6) Fix obvious typos (e.g., "Conutry" -> "Country").

- Duplicates MUST be preserved: if the same final header appears multiple times, suffix occurrences in order as ".1", ".2", ".3", etc. (Example: EmployeeID, EmployeeID.1, EmployeeID.2)

- If a column has no usable header tokens, return "Unnamed_{{index}}" where index is the zero-based column index.

Output:
Return ONLY valid JSON in this exact schema and nothing else:
{{
  "headers": ["<col0_name>", "<col1_name>", "..."]
}}
The array length MUST equal the number of columns. No prose. No markdown. No trailing comments.
"""

In [13]:
def build_user_prompt_column_extraction(n_rows, df_10_rows):
 
 user_prompt = f"""Here is the table preview (top {n_rows} rows), read with header=None.

"grid_top10": {df_10_rows}

Please produce the JSON object as specified in the System Prompt. Remember:
- One name per header column in the DF.
- Use dot "." for hierarchy.
- Suffix duplicate names as .1, .2, ...
- Use Unnamed_{{index}} if needed.
"""
 
 return user_prompt

In [14]:
def construct_user_prompt(df, num_rows=10):

    # construct a string of the top 10 rows of DF
    sub = df.iloc[:num_rows].copy()
    sub = sub.where(sub.notna(), "")
    df_10_rows_str = [[str(x) for x in row] for row in sub.values.tolist()]

    # build user prompt
    user_prompt_column_extraction = build_user_prompt_column_extraction(num_rows, df_10_rows_str)

    return user_prompt_column_extraction

In [15]:
user_prompt_column_extraction_1 = construct_user_prompt(df_competitor_1)

In [16]:
# see system prompt
print(system_prompt_column_extraction)

You are a schema header extractor.

You will receive the TOP 10 ROWS of a rectangular table as a 2D array of strings, representing the first 10 rows of an Excel/CSV sheet read with header=None. True column headers might NOT be on row 1. Some headers may span MULTIPLE ROWS (hierarchical); merged Excel cells appear as blanks below the parent label. Some cells in the top 10 rows can already be DATA (not headers).

Your task:
- For each column (left→right), reconstruct its header and return a list of names with the SAME LENGTH as the number of columns.
- Reconstruct by:
  1) Forward-filling non-empty strings downward in that column (simulate merged cells).
  2) Identify header-ish lines vs data-ish lines: header-ish lines contain mostly words/symbols, data-ish lines are mostly numbers/dates/IDs. Stop including tokens once you hit data-ish content.
  3) Build the name by joining the remaining non-empty header tokens with a dot "." in top→down order (e.g., Country.India).
  4) Drop purely decorative tokens (e.g., "Table", "Report", company names, page titles).
  5) If a row looks like UNITS (%, USD, hrs, kg...), exclude it from the name.
  6) Fix obvious typos (e.g., "Conutry" -> "Country").

- Duplicates MUST be preserved: if the same final header appears multiple times, suffix occurrences in order as ".1", ".2", ".3", etc. (Example: EmployeeID, EmployeeID.1, EmployeeID.2)

- If a column has no usable header tokens, return "Unnamed_{index}" where index is the zero-based column index.

Output:
Return ONLY valid JSON in this exact schema and nothing else:
{
  "headers": ["<col0_name>", "<col1_name>", "..."]
}
The array length MUST equal the number of columns. No prose. No markdown. No trailing comments.

In [17]:
# see user prompt, competitor 1
print(user_prompt_column_extraction_1)

Here is the table preview (top 10 rows), read with header=None.

"grid_top10": [['argenx Worker Overview - Total Compensation', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['Active Status', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['Effective as of Date', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '(only car allowances)', '', '', '', ''], ['ID', 'Gender', 'Business Title', 'Country', 'argenx job level', 'Currency', 'Actual Annual Salary', 'Currency', 'Variable Pay - Plan', 'Target Variable Pay - Percent', 'Allowance - Car', 'Allowance - Phone', 'Allowance - Representation', 'Equity Amount - Annual', 'Cost Center - Name'], ['100640', 'Male', 'Head of Strategic Business Leaders, West', 'United States of America', 'Grade 44', 'USD', '300489.75', 'USD', 'Field Incentive Plan', '', '0', '150', '0', '240000', 'Sales Force'], ['101381', 'Male', 'Head of Strategic Business Leaders, East', 'United States of America', 'Grade 44', 'USD', '305767', 'USD', 'Field Incentive Plan', '', '0', '150', '0', '240000', 'Sales Force'], ['103007', 'Male', 'Head of Strategic Business Leaders, Central', 'United States of America', 'Grade 44', 'USD', '334400', 'USD', 'Field Incentive Plan', '', '1000', '150', '0', '205000', 'Sales Force'], ['100604', 'Female', 'Strategic Business Leader, Atlanta Metro', 'United States of America', 'Grade 33', 'USD', '275482.9', 'USD', 'Field Incentive Plan', '', '0', '150', '0', '105000', 'Sales Force'], ['100605', 'Male', 'Strategic Business Leader, South Texas', 'United States of America', 'Grade 33', 'USD', '275482.9', 'USD', 'Field Incentive Plan', '', '0', '150', '0', '105000', 'Sales Force']]

Please produce the JSON object as specified in the System Prompt. Remember:
- One name per header column in the DF.
- Use dot "." for hierarchy.
- Suffix duplicate names as .1, .2, ...
- Use Unnamed_{index} if needed.

## Prompt GPT-5 with the competitor file data

In [18]:
def obtain_extracted_columns(user_prompt):
    start_time = time.time()
    response_competitor_columns = client.responses.create(input=user_prompt,
                                        instructions=system_prompt_column_extraction,
                                        model="gpt-5")
    end_time = time.time()
    elapsed_time = end_time - start_time
    extracted_columns = response_competitor_columns.output[-1].content[-1].text

    return extracted_columns, elapsed_time

In [19]:
competitor_1_columns, competitor_1_latency = obtain_extracted_columns(user_prompt_column_extraction_1)

print('latency:', competitor_1_latency)
print('extracted columns:', competitor_1_columns)

latency: 36.755266189575195
extracted columns: {
  "headers": ["ID", "Gender", "Business Title", "Country", "argenx job level", "Currency", "Actual Annual Salary", "Currency.1", "Variable Pay - Plan", "Target Variable Pay - Percent", "Allowance - Car", "Allowance - Phone", "Allowance - Representation", "Equity Amount - Annual", "Cost Center - Name"]
}

In [24]:
extracted_cols_json = json.loads(competitor_1_columns)
print('type:', type(extracted_cols_json))
print('# cols:', len(extracted_cols_json["headers"]))
print('EXTRACTED COLUMNS:')
print(extracted_cols_json["headers"])
print('type:', type(extracted_cols_json["headers"]))

type: <class 'dict'>
# cols: 15
EXTRACTED COLUMNS:
['ID', 'Gender', 'Business Title', 'Country', 'argenx job level', 'Currency', 'Actual Annual Salary', 'Currency.1', 'Variable Pay - Plan', 'Target Variable Pay - Percent', 'Allowance - Car', 'Allowance - Phone', 'Allowance - Representation', 'Equity Amount - Annual', 'Cost Center - Name']
type: <class 'list'>

In [30]:
# write to Responses/Extracted_Columns
with open("./../Responses/Extracted_Columns/Argenx_competitor_columns.txt", "w") as f:
    for item in extracted_cols_json["headers"]:
        f.write(f"{item}\n")

### Do this for the rest of the competitor files.

## COMPETITOR FILE 2

In [25]:
# let's see how Competitor Files 2-4 go

df_competitor_2 = pd.read_excel('./../Files/Competitor/KFH_competitor.xlsx', sheet_name = 'Employee Overview', header=None)
print(df_competitor_2.shape)
df_competitor_2.head(10)

(36190, 51)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1,17,19,20,21,22,23,35,36,...,111,NaN,NaN,123,NaN,NaN,NaN,140,142,143
3,NaN,Worker ID,Group Entity,Board level,Board level -1,Board level -2,Board level -3,Supervisory Org,Job Code,Job Profile Name,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Actual VP,Tenure,Annualized VP,Special recognition award (for those positions...,Sales Incentives,Profit Sharing,LTI,Lease Car Benefit Plan,Mobility Budget Amount (Year),Mobility Budget Discretionary (Year)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,00006101,RGO,Retail NL (Carlo van Kemenade),Business Clients (Arjan Groen),BEDR MKB L&S (Stefan Lohuis),BEDR MKB Financieren (Joost Oorschot),BEDR MKB Service Fin. Midden-Oost (Chantal van...,NLJPFKO07RG001RG,NL Commercieel Ondersteuner D - Financieren,...,0,NaN,0,0,N,N,N,NaN,0,0
7,NaN,00007486,RGO,Retail NL (Carlo van Kemenade),Business Clients (Arjan Groen),BEDR MKB L&S (Stefan Lohuis),BEDR MKB Klantenservice (Saskia van Tilburg),BEDR MKB KS Rotterdam 3 (Jolanda Burggraaf),NLJPFKA05RG011RG,NL Medewerker All-finance B - KS MKB,...,0,NaN,0,0,N,N,N,NaN,0,0
8,NaN,00007535,RGO,Retail NL (Carlo van Kemenade),Insurance & Pensions (Irik van der Geld),I&P Regio Midden-Oost (Louis Miltenburg),I&P Regio MO Verzekeren Sector Agri (Fred Wisk...,I&P Regio MO Verzekeren Sector Agri (Fred Wisk...,NLJPFKO06RG000RG,NL Commercieel Ondersteuner C,...,0,NaN,0,0,N,N,N,NaN,0,0
9,NaN,00007540,RGO,Retail NL (Carlo van Kemenade),Operations (Bart Horsten),Operations Customer Journeys (Hilke Kersten),OPS Customer Journeys Nabestaandendesk (Paul v...,OPS Customer Journeys Nabestaanden team 3 (Eli...,NLJPFPT05RG006RG,NL Medewerker Klantondersteuning B - Beheer,...,0,NaN,0,0,N,N,N,NaN,0,0

In [26]:
user_prompt_column_extraction_2 = construct_user_prompt(df_competitor_2)
print(user_prompt_column_extraction_2)

Here is the table preview (top 10 rows), read with header=None.

"grid_top10": [['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Use as fixed outside NL', '', 'Use as Fixed NL', '', '', '', '', '', '', '', '', '', '', ''], ['', '1', '17', '19', '20', '21', '22', '23', '35', '36', '37', '39', '', '6', '7', '8', '13', '41', '25', '27', '44', '46', '', '', '', '', '', '50', '55', '57', '59', '', '61', '91', '79+81+83+85', '109', '', '53', '107', '', '112', '111', '', '', '123', '', '', '', '140', '142', '143'], ['', 'Worker ID', 'Group Entity', 'Board level', 'Board level -1', 'Board level -2', 'Board level -3', 'Supervisory Org', 'Job Code', 'Job Profile Name', 'Position Title', 'Job Family', 'Area of Expertise', 'Gender', 'Date of Birth', 'Age', 'Continuous Service Date', 'Comp Grade', 'Country', 'State', 'Default Working Hours', 'FTE Factor', '2024 Job Matching', '', '', '', '', 'Rabobank - Fulltime Compensation Levels (as of April 30)', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'KFH', 'McLagan', 'WTW', '', '', 'Currency', '12 Month Salary ', 'Holiday Pay', '13th Month', 'Salary  (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Salary Extension (already included in columns AC and AF)', 'Personal Conversion Salary ', 'Personal Allowances', 'Employee Benefit Budget', 'Sum of other fixed cash (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Primary Compensation (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Personal Budget (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Total Fixed  (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Currency VP', 'Actual VP', 'Tenure', 'Annualized VP', 'Special recognition award (for those positions not VP eligible)', 'Sales Incentives', 'Profit Sharing', 'LTI', 'Lease Car Benefit Plan', 'Mobility Budget Amount (Year)', 'Mobility Budget Discretionary (Year)'], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Discipline', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '00006101', 'RGO', 'Retail NL (Carlo van Kemenade)', 'Business Clients (Arjan Groen)', 'BEDR MKB L&S (Stefan Lohuis)', 'BEDR MKB Financieren (Joost Oorschot)', 'BEDR MKB Service Fin. Midden-Oost (Chantal van Eeden-Petersmann)', 'NLJPFKO07RG001RG', 'NL Commercieel Ondersteuner D - Financieren', 'Specialist Service & Beheer Financieren MKB', 'Commercial Assistant', '', 'Male', '1958-06-30 00:00:00', '66', '1974-06-24 00:00:00', '07', 'Netherlands', 'South Holland', '36', '1', '', '', '', '', '', 'EUR', '56578.68', '4526.29', '4714.89', '65819.86', '0', '0', '0', '6581.99', '6581.99', '73217.85', '0', '72401.85', '', '0', '', '0', '0', 'N', 'N', 'N', '', '0', '0'], ['', '00007486', 'RGO', 'Retail NL (Carlo van Kemenade)', 'Business Clients (Arjan Groen)', 'BEDR MKB L&S (Stefan Lohuis)', 'BEDR MKB Klantenservice (Saskia van Tilburg)', 'BEDR MKB KS Rotterdam 3 (Jolanda Burggraaf)', 'NLJPFKA05RG011RG', 'NL Medewerker All-finance B - KS MKB', 'Adviseur KS MKB DBZ', 'All-finance Employee', 'KS MKB', 'Female', '1959-07-27 00:00:00', '65', '1976-05-01 00:00:00', '05', 'Netherlands', 'South Holland', '36', '1', '', '', '', '', '', 'EUR', '41896.32', '3351.71', '3491.36', '48739.39', '0', '0', '0', '4873.94', '4873.94', '54477.33', '0', '53613.33', '', '0', '', '0', '0', 'N', 'N', 'N', '', '0', '0'], ['', '00007535', 'RGO', 'Retail NL (Carlo van Kemenade)', 'Insurance & Pensions (Irik van der Geld)', 'I&P Regio Midden-Oost (Louis Miltenburg)', 'I&P Regio MO Verzekeren Sector Agri (Fred Wiskamp)', 'I&P Regio MO Verzekeren Sector Agri (Fred Wiskamp)', 'NLJPFKO06RG000RG', 'NL Commercieel Ondersteuner C', 'Commercieel Ondersteuner C', 'Commercial Assistant', '', 'Female', '1959-01-02 00:00:00', '66', '1976-06-01 00:00:00', '06', 'Netherlands', 'Overijssel', '36', '0.8889', '', '', '', '', '', 'EUR', '48539.04', '3883.12', '4044.92', '56467.08', '0', '0', '0', '5646.71', '5646.71', '62917.786028', '0', '62113.79', '', '0', '', '0', '0', 'N', 'N', 'N', '', '0', '0'], ['', '00007540', 'RGO', 'Retail NL (Carlo van Kemenade)', 'Operations (Bart Horsten)', 'Operations Customer Journeys (Hilke Kersten)', 'OPS Customer Journeys Nabestaandendesk (Paul van der Veen)', 'OPS Customer Journeys Nabestaanden team 3 (Eline Bosdijk)', 'NLJPFPT05RG006RG', 'NL Medewerker Klantondersteuning B - Beheer', 'Medewerker Service Centrum Wonen Beheer', 'Customer Support Employee', 'Beheer', 'Female', '1959-11-29 00:00:00', '65', '2022-10-01 00:00:00', '05', 'Netherlands', 'North Brabant', '36', '1', '', '', '', '', '', 'EUR', '41896.32', '3351.71', '3491.36', '48739.39', '0', '0', '0', '4873.94', '4873.94', '54477.33', '0', '53613.33', '', '0', '', '0', '0', 'N', 'N', 'N', '', '0', '0']]

Please produce the JSON object as specified in the System Prompt. Remember:
- One name per header column in the DF.
- Use dot "." for hierarchy.
- Suffix duplicate names as .1, .2, ...
- Use Unnamed_{index} if needed.

In [27]:
competitor_2_columns, competitor_2_latency = obtain_extracted_columns(user_prompt_column_extraction_2)

print('latency:', competitor_2_latency)
print('extracted columns:', competitor_2_columns)

latency: 122.34330487251282
extracted columns: {
  "headers": [
    "Unnamed_0",
    "Worker ID",
    "Group Entity",
    "Board level",
    "Board level -1",
    "Board level -2",
    "Board level -3",
    "Supervisory Org",
    "Job Code",
    "Job Profile Name",
    "Position Title",
    "Job Family",
    "Area of Expertise",
    "Gender",
    "Date of Birth",
    "Age",
    "Continuous Service Date",
    "Comp Grade",
    "Country",
    "State",
    "Default Working Hours",
    "FTE Factor",
    "2024 Job Matching.KFH",
    "2024 Job Matching.McLagan",
    "2024 Job Matching.WTW",
    "2024 Job Matching.Discipline",
    "2024 Job Matching",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Currency",
    "Rabobank - Fulltime Compensation Levels (as of April 30).12 Month Salary",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Holiday Pay",
    "Rabobank - Fulltime Compensation Levels (as of April 30).13th Month",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Salary (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Salary Extension (already included in columns AC and AF)",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Personal Conversion Salary",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Personal Allowances",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Employee Benefit Budget",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Sum of other fixed cash (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)",
    "Rabobank - Fulltime Compensation Levels (as of April 30).Primary Compensation (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)",
    "Use as fixed outside NL.Rabobank - Fulltime Compensation Levels (as of April 30).Personal Budget (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)",
    "Use as Fixed NL.Rabobank - Fulltime Compensation Levels (as of April 30).Total Fixed (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)",
    "Currency VP",
    "Actual VP",
    "Tenure",
    "Annualized VP",
    "Special recognition award (for those positions not VP eligible)",
    "Sales Incentives",
    "Profit Sharing",
    "LTI",
    "Lease Car Benefit Plan",
    "Mobility Budget Amount (Year)",
    "Mobility Budget Discretionary (Year)"
  ]
}

In [28]:
extracted_cols_json = json.loads(competitor_2_columns)
print('type:', type(extracted_cols_json))
print('# cols:', len(extracted_cols_json["headers"]))
print('EXTRACTED COLUMNS:')
print(extracted_cols_json["headers"])
print('type:', type(extracted_cols_json["headers"]))

type: <class 'dict'>
# cols: 51
EXTRACTED COLUMNS:
['Unnamed_0', 'Worker ID', 'Group Entity', 'Board level', 'Board level -1', 'Board level -2', 'Board level -3', 'Supervisory Org', 'Job Code', 'Job Profile Name', 'Position Title', 'Job Family', 'Area of Expertise', 'Gender', 'Date of Birth', 'Age', 'Continuous Service Date', 'Comp Grade', 'Country', 'State', 'Default Working Hours', 'FTE Factor', '2024 Job Matching.KFH', '2024 Job Matching.McLagan', '2024 Job Matching.WTW', '2024 Job Matching.Discipline', '2024 Job Matching', 'Rabobank - Fulltime Compensation Levels (as of April 30).Currency', 'Rabobank - Fulltime Compensation Levels (as of April 30).12 Month Salary', 'Rabobank - Fulltime Compensation Levels (as of April 30).Holiday Pay', 'Rabobank - Fulltime Compensation Levels (as of April 30).13th Month', 'Rabobank - Fulltime Compensation Levels (as of April 30).Salary (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Rabobank - Fulltime Compensation Levels (as of April 30).Salary Extension (already included in columns AC and AF)', 'Rabobank - Fulltime Compensation Levels (as of April 30).Personal Conversion Salary', 'Rabobank - Fulltime Compensation Levels (as of April 30).Personal Allowances', 'Rabobank - Fulltime Compensation Levels (as of April 30).Employee Benefit Budget', 'Rabobank - Fulltime Compensation Levels (as of April 30).Sum of other fixed cash (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Rabobank - Fulltime Compensation Levels (as of April 30).Primary Compensation (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Use as fixed outside NL.Rabobank - Fulltime Compensation Levels (as of April 30).Personal Budget (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Use as Fixed NL.Rabobank - Fulltime Compensation Levels (as of April 30).Total Fixed (based on full time equivalent for those who work part-time; for employees with FTE above 1, amount recalculated to actual amount)', 'Currency VP', 'Actual VP', 'Tenure', 'Annualized VP', 'Special recognition award (for those positions not VP eligible)', 'Sales Incentives', 'Profit Sharing', 'LTI', 'Lease Car Benefit Plan', 'Mobility Budget Amount (Year)', 'Mobility Budget Discretionary (Year)']
type: <class 'list'>